html,body {
	background-color: #ffefd5;
	width: 100%;
	font-family:"游ゴシック" , "Yu Gothic" , sans-serif; 
}
h1 {
	text-align: center;
}
#menu_list {
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #d8d8d8;
	display:block;
}
.menu {
	list-style:none;
	font-size: 0.9em;
	margin-left: 10%;
}
.menu button {
	background-color: #ffefd5;
	border: 0.5px solid #888;
	box-shadow: 0.5px 0.5px 0.5px 0.5px #aaa;
}
table {
	width: 100%;
}
table th {
	background: #ffefd5;
}
table th,
table td {
	border : 1px solid #d8d8d8;
	text-align: center;
	padding: 5px;
}
.table {
	display: block;
	margin-right : 10%;
 	margin-left : 10%;
}